.playlist-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: left;
}

.avatar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.avatar > :first-child {
    margin-right: 20px;
}