.searcher-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searcher-wrapper .ant-input-group-wrapper {
    width: 30%;
}

.dropdown {
    margin: 0 20px;
}

.ant-dropdown .ant-dropdown-menu {
    padding: 0;
    margin-top: 5px;
}

.ant-dropdown-link,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    width: 90px;
}