.player-container {
    border: 1px solid rgba(216,216,216);
    width: 99vw;
    border-radius: 5px 5px;
    position: absolute;
}

.top-layer-container {
    height: 40vh;
    position: relative;
    width: 100%;
}

.background-image {
    background-image: url(./../../sea.jpg);
    background-repeat: no-repeat;
    filter: blur(1px) grayscale(80%);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.content-container {
    height: 50vh;
    width: 100%;
    padding: 1%;
}

/* .no-results-container {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-results-container i {
    font-size: 9em;
    color: #096dd9;
}

.no-results-container p {
    font-size: 2em;
    margin-top: 2%;
}

.playlist-container {
    max-height: 70vh;
    margin: 2vh auto;
    padding: 0 20px;
    text-align: left;
    overflow: auto;
}

.avatar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.avatar > :first-child {
    margin-right: 20px;
}

/*from https://css-tricks.com/examples/hrs/*/
/* hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
} */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*
span {
    white-space: nowrap;
}
.ant-layout.ant-layout {
    width: 99vw;
    margin: 0 auto;
    background-color: white;
}
.ant-layout-header.ant-layout-header {
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.ant-layout-content.ant-layout-content {
    height: 73vh;
    background-color: white;
}
.ant-layout-footer.ant-layout-footer {
    background-color: white;
    padding: 0;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media only screen and (min-width: 480px) {
    .player-container {
        width: 80vw;
    }
}

@media only screen and (min-width: 768px) {
    .player-container {
        width: 70vw;
    }
} 

@media only screen and (min-width: 992px) {
    .player-container {
        width: 50vw;
    }
} 

@media only screen and (min-width: 1200px) {
    .player-container {
        width: 30vw;
    }
}
