.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Animation for slide down container */
.slide-appear {
    opacity: 0;
    transition: opacity .7s ease-in;
}

.slide-appear.slide-appear-active {
    opacity: 1;
}

.slide-enter {
    max-height: 0;
    transition: all 1s ease-in;
}

.slide-enter.slide-enter-active {
    max-height: 40vh;
}

.playlist-container {
    height: 100%;
    width: 100%;
    padding: 1%;
}

.list-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
}

.list-grid-card-container {
    border: 1px solid lightgray;
    flex-basis: 48%;
    height: 40vh;
    margin-bottom: 2%;
    background-color: rgba(211, 211, 211, .2);
}

.list-grid-card-content {
    height: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-grid-card-content button {
    background-color: rgba(255, 255, 255, .9);
}

.list-grid-card-title {
    color: black;
    text-align: center;
    margin-top: 1px;
    font-size: 1.1em;
}

.list-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-column-title {

}

.list-column-item-container {

}

.list-column-item-content {

}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (min-width: 768px) {
    .list-grid-card-container {
        height: 31vh;
    }
} 

@media only screen and (min-width: 992px) {
    .list-grid-card-container {
        height: 23vh;
    }
} 



/* .no-results-container {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-results-container i {
    font-size: 9em;
    color: #096dd9;
}

.no-results-container p {
    font-size: 2em;
    margin-top: 2%;
}

.playlist-container {
    max-height: 70vh;
    margin: 2vh auto;
    padding: 0 20px;
    text-align: left;
    overflow: auto;
}

.avatar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

/*from https://css-tricks.com/examples/hrs/*/

/*
span {
    white-space: nowrap;
}
.ant-layout.ant-layout {
    width: 99vw;
    margin: 0 auto;
    background-color: white;
}
.ant-layout-header.ant-layout-header {
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.ant-layout-content.ant-layout-content {
    height: 73vh;
    background-color: white;
}
.ant-layout-footer.ant-layout-footer {
    background-color: white;
    padding: 0;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */


