.player-container {
    border: 1px solid rgba(216,216,216);
    width: 99vw;
    border-radius: 5px 5px;
    position: absolute;
}

.top-layer-container {
    height: 34vh;
    position: relative;
    width: 100%;
}

.background-image {
    background-image: url(./images/sea.jpg);
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(1px) grayscale(80%);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.content-container {
    height: 50vh;
    width: 100%;
    overflow: auto;
}

.content-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.content-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.content-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.content-container::-webkit-scrollbar-thumb:horizontal:active,
.content-container::-webkit-scrollbar-thumb:vertical:active { 
    background-color: #D81159;
}

@media only screen and (min-width: 480px) {
    .player-container {
        width: 80vw;
    }
}

@media only screen and (min-width: 768px) {
    .player-container {
        width: 55vw;
    }
} 

@media only screen and (min-width: 992px) {
    .player-container {
        width: 35vw;
    }
} 

@media only screen and (min-width: 1200px) {
    .player-container {
        width: 40vw;
    }
}

@media only screen and (min-width: 1440px) {
    .player-container {
        width: 30vw;
    }
}